# Framework para la aplicación web
streamlit

# Machine Learning y Redes Neuronales
tensorflow
scikit-learn

# Manejo de datos y arrays
pandas

# Para manejar datasets desbalanceados (SMOTE)
imbalanced-learn

# Para manejar imágenes (logo en la app)
Pillow