# Framework para la aplicación web
streamlit

# Machine Learning y Redes Neuronales
tensorflow

# Herramientas de Scikit-learn (preprocesamiento)
scikit-learn

# Manejo de datos y arrays
pandas
numpy

# Para manejar datasets desbalanceados (SMOTE)
imbalanced-learn

# Para manejar imágenes (logo en la app)
Pillow